<h1>Fiscalizando o Ibama</h1>
<h2>Atualização e visualização gráfica diária da quantidade de multas ambientais nos estados da Amazônia Legal</h2>

<a href="/teste">Testes</a> - <a href="/sobre">Sobre esse site</a>
<p>
Visualizando a quantidade de multas ambientais aplicadas no âmbito do Ibama que estão em <b>homologação ou prazo de defesa</b> nos estados que integram o território da Amazônia Legal.
</p>
<p>
A aplicação de multas ambientais é uma ferramenta para frear atitudes ilegais contra o meio ambiente e diminuir a impunidade daqueles que cometem essas práticas. Acompanhar a aplicação e o status dessas multas pode ser uma boa fonte de investigações, visto que a quantidade e evolução dos status dessas multas dão pistas sobre o funcionamento do órgão de fiscalização em uma região. Por exemplo, o aumento de multas aplicadas pode indicar uma ação rigorosa de fiscalização; por outro lado, o aumento de multas aplicadas e que ainda não foram pagas pode sugerir atraso, negligência, falta de funcionários para fiscalizar, entre outras hipóteses.
</p>
<p>
Tendo em vista o <a href="https://extra.globo.com/noticias/um-so-planeta/desmonte-ambiental-ibama-so-tem-26-do-contingente-necessario-para-fiscalizacao-de-biomas-25109010.html">desmonte sofrido pelo Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis (Ibama)</a> e a urgência em se preocupar com o território da Amazônia legal (que sofre com as ameaças do <a href="https://noticias.uol.com.br/ultimas-noticias/agencia-estado/2021/12/20/pf-encontra-alto-indice-de-mercurio-no-rio-madeira.htm">garimpo ilegal</a> e do <a href="https://www.bbc.com/portuguese/brasil-59341478">desmatamento</a>, este projeto pretende facilitar o acompanhamento de multas aplicadas nos estados da região com o status "para homologação/prazo de defesa" que não apresentam pagamento nas bases de dados do Ibama.
</p>

<p>A metodologia e outras informações sobre o trabalho podem ser lidos no <a href="https://github.com/biamuniz/fiscalizando-o-ibama">repositório do projeto no Github</a></p>
